# Auto detect text files and perform LF normalization
* text=auto
*.unity filter=lfs diff=lfs merge=lfs -text binary lockable
*.prefab filter=lfs diff=lfs merge=lfs -text binary lockable
*.asset filter=lfs diff=lfs merge=lfs -text binary lockable
*.meta binary
*.dwlt binary
