# Auto detect text files and perform LF normalization
* text=auto
*.unity filter=lfs diff=lfs merge=lfs -text binary
*.prefab filter=lfs diff=lfs merge=lfs -text binary
*.asset filter=lfs diff=lfs merge=lfs -text binary
*.meta binary
*.dwlt binary